<form (submit)="onSubmit()" class="form-container">
  <h3>{{formTitle}}</h3>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="formData.firstName" name="name" />
  </div>
  <div class="form-group">
    <label for="surname">Surname:</label>
    <input
      type="text"
      id="surname"
      [(ngModel)]="formData.lastName"
      name="surname"
    />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="formData.emailId"
      name="email"
    />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-submit">Submit</button>
  </div>
</form>
